<div>
  <div class="flex select-none items-center justify-between bg-gray-800 px-2 py-4 text-gray-400 sm:px-6">

    <div class="hidden sm:space-x-6 sm:flex sm:justify-between">
      <a class="rounded-md bg-gray-900 px-3 py-1 font-medium text-white" href="#">Dashboard</a>
      <a class="rounded-md px-3 py-1 font-medium hover:bg-gray-700 hover:text-white" href="#">Team</a>
      <a class="rounded-md px-3 py-1 font-medium hover:bg-gray-700 hover:text-white" href="#">Projects</a>
      <a class="rounded-md px-3 py-1 font-medium hover:bg-gray-700 hover:text-white" href="#">Calendar</a>
    </div>

    <bars-3-outline-icon
      *ngIf="!isMenuOpen"
      (click)="toggleMenu()"
      class="rounded p-2 hover:cursor-pointer hover:bg-gray-700 hover:text-white sm:hidden"
    />

    <x-mark-outline-icon
      *ngIf="isMenuOpen"
      (click)="toggleMenu()"
      class="rounded p-2 hover:cursor-pointer hover:bg-gray-700 hover:text-white sm:hidden"
    />

    <div class="flex items-center">

      <bell-outline-icon class="pr-4 hover:cursor-pointer hover:text-white"/>

      <img
        class="mr-2 h-8 w-8 rounded-full"
        src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        alt="avatar">
    </div>

  </div>

  <div *ngIf="isMenuOpen" class="flex flex-col bg-gray-800 p-2 text-gray-300 sm:hidden">
    <a class="mb-1 rounded-md bg-gray-900 px-3 py-2 font-medium text-white" href="#">Dashboard</a>
    <a class="mb-1 rounded-md px-3 py-2 font-medium hover:bg-gray-700 hover:text-white" href="#">Team</a>
    <a class="mb-1 rounded-md px-3 py-2 font-medium hover:bg-gray-700 hover:text-white" href="#">Projects</a>
    <a class="mb-1 rounded-md px-3 py-2 font-medium hover:bg-gray-700 hover:text-white" href="#">Calendar</a>
  </div>
</div>





<div class=" bg-gray-100 p-7">

  <div class="w-80 flex items-center flex-col rounded-xl border-gray-200 bg-white border-2  ">
    <div class="mt-8 mb-8">
      <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
          class="w-32 h-32 rounded-full">
    </div>
    <h2 class="font-bold">Jane Cooper</h2>
    <h2>Paradigm Representative</h2>
    <h3 class="m-5 pt-1 pb-1 pr-4 pl-4 font-bold text-green-900 bg-green-200 rounded-full">Admin</h3>

    <div class="w-full p-6 flex justify-around border-t-2">

      <div class="flex border-r-2 items-center">
        <phone-outline-icon class="w-5 h-5 mr-4"></phone-outline-icon>
        <button class="font-bold">Email</button>
      </div>
      <div class="flex items-center">
        <envelope-outline-icon class="w-5 h-5 mr-4"> </envelope-outline-icon>
        <button class="font-bold">Call</button>
      </div>

    </div>
  </div>
</div>







<div class="flex ml-1 mr-1">

  <div class=" w-80 pb-40 bg-blue-800">

    <div class="flex pl-4 pt-4 pb-4 m-2">
      <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/business-logo-design-template-78655edda18bc1196ab28760f1535baa_screen.jpg?ts=1617645324"
       class="w-6 h-6 mr-4 ">
       
    </div>
*
    <a class="flex pl-4 pt-4 pb-4 m-2 rounded-md  hover:bg-blue-900">
        <home-outline-icon class="mr-4 text-white" ></home-outline-icon> 
      <p class="text-gray-50">Dashboard</p>
    </a>
    <a class="flex pl-4 pt-4 pb-4 m-2 rounded-md  hover:bg-blue-900">
        <fire-outline-icon class="mr-4 text-white"></fire-outline-icon>
      <p class="text-gray-50">Team</p>
    </a>
    <a class="flex pl-4 pt-4 pb-4 m-2 rounded-md  hover:bg-blue-900">
      <folder-minus-outline-icon class="mr-4 text-white"></folder-minus-outline-icon>
      <p class="text-gray-50">Projects</p>
    </a>
    <a class="flex pl-4 pt-4 pb-4 m-2 rounded-md  hover:bg-blue-900">
        <folder-open-outline-icon class="mr-4 text-white"></folder-open-outline-icon>
      <p class="text-gray-50">Calandar</p>
    </a>
    <a class="flex pl-4 pt-4 pb-4 m-2 rounded-md  hover:bg-blue-900">
        <calendar-outline-icon class=" h-5 mr-4 text-white"></calendar-outline-icon>
      <p class="text-gray-50">Documents</p>
    </a>
    <a class="flex pl-4 pt-4 pb-4 m-2 rounded-md  hover:bg-blue-900">
        <chart-bar-outline-icon class="mr-4 text-white"></chart-bar-outline-icon>
      <p class="text-gray-50">Reports</p>
    </a>

  </div>

-    <div class="w-full mr-5 bg-gray-200">
    
    <div class="flex  justify-between pt-5 pb-5 pr-5 border-t-gray-500 bg-white">

      <div class="flex ml-3">
        <magnifying-glass-outline-icon class="w-5 h-5"></magnifying-glass-outline-icon>
        <p class="ml-4 ">Search</p>
      </div>

      <div class="flex">
        <bell-outline-icon class="mr-3"></bell-outline-icon>
        <img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
        class="w-6 h-6 mr-4 rounded-xl">
      </div>

    </div>

    <div class="m-5">

      <h2 class="font-bold mb-3 mt-3">Dashboard</h2>
      <hr class=" border-blue-800">

    </div>

  </div>

</div>
